.hero {
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #8800ff;
  padding-block: 8rem 3rem;
  overflow: hidden;

  // display: flex;
  // align-items: center;
  // flex-direction: column;
  // justify-content: space-between;
  // width: 100%;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;

  // padding-bottom: 3em; 1em;
  // margin-bottom: 110px; 70px;
}

.hero__titles {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  padding-bottom: 2rem;
  margin-inline: auto;
}

.hero__title {
  line-height: 1;
}

.hero__title-firstname {
  position: relative;
  height: clamp(
    2.62rem,
    calc(2.62rem + (6.25rem - 2.62rem) * (100vw - 320px) / (1440px - 320px)),
    6.25rem
  );
  z-index: 3;
  filter: drop-shadow(0 2px 20px rgba(0, 0, 0, 0.25)) drop-shadow(0 2px 10px rgba(0, 0, 0, 0.5));

  // margin-bottom: -5px; -12; -30px;
  // filter: drop-shadow(0 4px 25px rgba(0, 0, 0, 0.25)) drop-shadow(0 4px 12.5px rgba(0, 0, 0, 0.5));
}

.hero__title-lastname {
  position: relative;
  font-family: Bungee Shade;
  font-size: clamp(
    2.9rem,
    calc(2.9rem + (7rem - 2.9rem) * (100vw - 320px) / (1440px - 320px)),
    7rem
  );
  text-shadow: 2px 2px 25px rgba(0, 0, 0, 0.5);
  z-index: 3;

  // font-size: 2.25em;
  // padding-right: 16px;
  // font-size: 7rem;
  // text-shadow: 3px 3px 30px rgba(0, 0, 0, 0.5);
}

.hero__subtitle {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  line-height: 1.2;
  font-size: 1rem;
  font-weight: 300;
  padding-right: 0.76rem;
  z-index: 3;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);

  // font-size: 32px;
  // font-weight: 200;
  // padding-right: 40px;
  // text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.hero__actions {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-inline: auto;
  z-index: 3;

  // gap: 25px;
}

.hero__action-btn {
  font-size: 0.78rem;
  text-transform: uppercase;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 0.98rem 2.4rem;
  cursor: pointer;

  // font-size: 19px;
  // border-radius: 10px; 12px;
  // padding: 15px 40px;
}

.hero__action-btn--primary {
  font-weight: 300;
  background: #6701be;
}

.hero__action-btn--secondary {
  color: #6701be;
  background: #ffffff;
}

.hero__image {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 1rem;

  // margin-left: -50px;
  // margin-right: 90px;

  & img {
    position: relative;
    height: 550px;
    width: auto;
    margin-inline: auto;
  }

  // img {
  //   height: 725px;
  // }
}

// Title for screen readers only
// .sr-only {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   padding: 0;
//   margin: -1px;
//   overflow: hidden;
//   clip: rect(0, 0, 0, 0);
//   border: 0;
// }

// Moyens / Grands smartphones
@media (min-width: 480px) {
  .hero {
    position: relative; // Déjà set dans le css global
    padding-block: 9.2rem 4rem;
    overflow: hidden; //
  }

  .hero__content {
    display: flex; //
    flex-direction: column; //
    justify-content: flex-end; //
  }

  .hero__titles {
    display: flex; //
    flex-direction: column; //
    gap: 0.8rem; //
    padding-left: 4.5rem;
    padding-bottom: 2.4rem;
    margin-left: 0; //
  }

  .hero__title-firstname {
    position: relative; //
    margin-bottom: 0.2rem;
    z-index: 3; //
    filter: drop-shadow(0 4px 25px rgba(0, 0, 0, 0.25)) drop-shadow(0 4px 12.5px rgba(0, 0, 0, 0.5));
  }

  .hero__title-lastname {
    position: relative; //
    z-index: 3; //
    text-shadow: 3px 3px 30px rgba(0, 0, 0, 0.5);
  }

  .hero__subtitle {
    position: relative; //
    display: inline-flex; //
    flex-direction: column; //
    font-size: 1.06rem;
    font-weight: 300; //
    padding-right: 0.86rem;
    z-index: 3; //
    // text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  }

  .hero__actions {
    display: flex; //
    flex-direction: row;
    gap: 1.2rem; //
    margin-inline: auto; //
    z-index: 3; //
  }

  .hero__action-btn {
    font-size: 0.86rem;
    border-radius: 8px; //
    padding: 1rem 2rem; //
  }

  .hero__image {
    position: absolute; //
    z-index: 1; //
    top: 1.6rem;

    & img {
      height: 600px;
      padding-right: 4rem;
      margin-right: 0;
    }
  }
}

// Tablettes
@media (min-width: 768px) {
  .hero {
    max-height: 50rem;
  }

  .hero__content {
    padding-bottom: 1.5rem;
  }

  .hero__info {
    margin-bottom: 6.25rem;
  }

  .hero__title {
    font-size: 5.5rem;
    margin-bottom: 0.35rem;
  }

  .hero__title-svg {
    height: 6.875rem;
    margin-bottom: -1.875rem;
  }

  .hero__title--solid {
    padding-right: 0.875rem;
  }

  .hero__subtitle {
    font-size: 1.625rem;
    padding-right: 2.125rem;
  }

  .hero__actions {
    margin-top: 3.125rem;
  }

  .hero__action-btn {
    font-size: 0.9375rem;
    padding: 0.8125rem 2.25rem;
  }

  .hero__image {
    margin-left: -2.625rem;
    margin-right: 0.9375rem;
    img {
      height: 35.9375rem;
    }
  }
}

// Laptops
@media (min-width: 1024px) {
  .hero {
    max-height: 59.375rem;
  }

  .hero__content {
    margin-top: 3rem;
    height: 100%;
  }

  .hero__info {
    margin-bottom: 5rem;
  }

  .hero__title {
    font-size: 6.5rem;
    margin-bottom: 0.3rem;
  }

  .hero__title-svg {
    height: 8.4375rem;
  }

  .hero__title--solid {
    padding-right: 1rem;
  }

  .hero__subtitle {
    font-size: 1.875rem;
    margin-bottom: 1.5rem;
  }

  .hero__actions {
    position: relative;
    bottom: 0;
  }

  .hero__action-btn {
    font-size: 1.0625rem;
    border-radius: 10px;
    padding: 0.875rem 2.375rem;
  }

  .hero__image img {
    margin-left: -0.875rem;
    height: 42.1875rem;
  }
}

// Grands écrans
@media (min-width: 1440px) {
  .hero {
    max-height: 59.375rem;
  }

  .hero__content {
    padding-bottom: 3rem;
  }

  .hero__info {
    margin-bottom: 5rem;
  }

  .hero__title {
    font-size: 7rem;
  }

  .hero__title-svg {
    height: 9.0625rem;
  }

  .hero__subtitle {
    font-size: 2rem;
    padding-right: 2.5rem;
  }

  .hero__action-btn {
    font-size: 1.1875rem;
  }

  .hero__action-btn {
    border-radius: 12px;
    padding: 0.9375rem 2.5rem;
  }

  .hero__image img {
    margin-left: -1.25rem;
    margin-right: 5.625rem;
    height: 45.3125rem;
  }
}
