.hero {
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #8800ff;
  padding-block: 8rem 3rem;
  overflow: hidden;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;
}

.hero__titles {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.hero__title {
  line-height: 1;
}

.hero__title-firstname {
  position: relative;
  height: clamp(
    2.62rem,
    calc(2.62rem + (6.25rem - 2.62rem) * (100vw - 320px) / (1440px - 320px)),
    6.25rem
  );
  z-index: 3;
  filter: drop-shadow(0 2px 20px rgba(0, 0, 0, 0.25)) drop-shadow(0 2px 10px rgba(0, 0, 0, 0.5));
}

.hero__title-lastname {
  position: relative;
  font-family: 'Bungee Shade';
  font-size: clamp(
    2.9rem,
    calc(2.9rem + (7rem - 2.9rem) * (100vw - 320px) / (1440px - 320px)),
    7rem
  );
  text-shadow: 2px 2px 25px rgba(0, 0, 0, 0.5);
  z-index: 3;
}

.hero__subtitle {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  line-height: 1.2;
  font-size: 1rem;
  font-weight: 300;
  padding-right: 0.76rem;
  z-index: 3;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
}

.hero__actions {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-inline: auto;
  z-index: 3;
}

.hero__action-btn {
  font-size: 0.78rem;
  text-transform: uppercase;
  text-wrap: balance;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 0.98rem 2.4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

// TODO : WCAG 2.4.7 FOCUS-VISIBLE AND HOVER COLOR CONTRAST FOR BUTTONS
// Focus-visible allow users who navigate with tab key to preview navigation with buttons.

.hero__action-btn:disabled {
  opacity: 0.9;
  cursor: not-allowed;
}

.hero__action-btn--primary {
  font-weight: 300;
  background: #6701be;
}

.hero__action-btn--secondary {
  color: #6701be;
  background: #ffffff;
}

// TODO END

.hero__image {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 1rem;

  & img {
    position: relative;
    height: 34.375rem;
    width: auto;
    margin-inline: auto;
  }
}

// Moyens / Grands smartphones
@media (min-width: 480px) {
  .hero {
    padding-block: 9.2rem 4rem;
  }

  .hero__titles {
    gap: 0.8rem;
    padding-left: 4.5rem;
    margin-left: 0;
    margin-bottom: 6rem;
  }

  .hero__title-firstname {
    margin-bottom: 0.2rem;
    filter: drop-shadow(0 4px 25px rgba(0, 0, 0, 0.25)) drop-shadow(0 4px 12.5px rgba(0, 0, 0, 0.5));
  }

  .hero__title-lastname {
    text-shadow: 3px 3px 30px rgba(0, 0, 0, 0.5);
  }

  .hero__subtitle {
    font-size: 1.22rem;
    font-weight: 200;
    padding-right: 0.86rem;
  }

  .hero__actions {
    flex-direction: row;
    gap: 1.2rem;
  }

  .hero__action-btn {
    font-size: 0.86rem;
    padding: 1rem 2rem;
  }

  .hero__image {
    top: 1.6rem;

    & img {
      height: 37.5rem;
      padding-right: 4rem;
      margin-right: 0;
    }
  }
}

// Tablettes
@media (min-width: 768px) {
  .hero {
    padding-block: 11.1rem 5rem;
  }

  .hero__titles {
    gap: 1.3rem;
    padding-inline: 0
      clamp(
        10.7rem,
        calc(10.7rem + (13.6rem - 10.7rem) * (100vw - 768px) / (1024px - 768px)),
        13.6rem
      );
    margin-inline: auto;
    margin-bottom: 8rem;
  }

  .hero__title-firstname {
    margin-bottom: 0.4rem;
    z-index: 1;
  }

  .hero__subtitle {
    font-size: 1.4rem;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  }

  .hero__actions {
    gap: 1.8rem;
  }

  .hero__action-btn {
    font-size: 0.96rem;
    border-radius: 10px;
    padding: 1.1rem 2.4rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);
  }

  .hero__image {
    top: 3rem;

    & img {
      height: 40.5rem;
      padding-inline: clamp(
          28.2rem,
          calc(28.2rem + (30.9rem - 28.2rem) * (100vw - 768px) / (1024px - 768px)),
          30.9rem
        )
        0;
      margin-inline: auto;
    }
  }
}

// Laptops
@media (min-width: 1024px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-block: 0;
  }

  .hero__content {
    align-items: flex-end;
    margin-right: clamp(
      -1.1rem,
      calc(-0.86rem + (-1.1rem - -0.86rem) * (100vw - 1024px) / (1440px - 1024px)),
      -0.86rem
    );
    margin-bottom: 5.2rem;
  }

  .hero__titles {
    align-items: flex-end;
    padding-right: 0;
    margin-bottom: 2rem;
    margin-inline: 0;
  }

  .hero__title-firstname {
    margin-bottom: 0.6rem;
  }

  .hero__subtitle {
    font-size: 1.6rem;
    padding-right: clamp(
      1.2rem,
      calc(1.2rem + (1.6rem - 1.2rem) * (100vw - 1024px) / (1440px - 1024px)),
      1.6rem
    );
  }

  .hero__actions {
    gap: 1.4rem;
    margin-inline: 0;
    padding-right: clamp(
      2.6rem,
      calc(2.6rem + (3.6rem - 2.6rem) * (100vw - 1024px) / (1440px - 1024px)),
      3.6rem
    );
  }

  .hero__action-btn {
    font-size: 1rem;
    padding: 1.2rem 2.4rem;
  }

  .hero__image {
    position: relative;
    top: auto;
    width: fit-content;
    margin-left: clamp(
      -1.1rem,
      calc(-0.88rem + (-1.1rem - -0.88rem) * (100vw - 1024px) / (1440px - 1024px)),
      -0.88rem
    );

    & img {
      height: 42rem;
      padding-inline: 0;
      margin-inline: 0;
    }
  }
}

// Grands écrans
@media (min-width: 1440px) {
  .hero__content {
    margin-bottom: 4.5rem;
  }

  .hero__titles {
    gap: 1.8rem;
    margin-bottom: 2.75rem;
  }

  .hero__title-firstname {
    margin-bottom: 0.75rem;
  }

  .hero__subtitle {
    font-size: 1.8rem;
  }

  .hero__actions {
    gap: 1.6rem;
  }

  .hero__action-btn {
    font-size: 1.1rem;
    border-radius: 12px;
    padding: 1.2rem 2.5rem;
  }

  .hero__image {
    & img {
      height: 45rem;
    }
  }
}
