.hero {
  position: relative;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #8800ff;
  padding-block: 8rem 3rem;
  overflow: hidden;

  // display: flex;
  // align-items: center;
  // flex-direction: column;
  // justify-content: space-between;
  // width: 100%;
}

.hero__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: right;

  // padding-bottom: 3em; 1em;
  // margin-bottom: 110px; 70px;
}

.hero__titles {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-inline: auto;
  margin-bottom: 2rem;
}

.hero__title {
  line-height: 1;
}

.hero__title-firstname {
  position: relative;
  height: clamp(
    2.62rem,
    calc(2.62rem + (6.25rem - 2.62rem) * (100vw - 320px) / (1440px - 320px)),
    6.25rem
  );
  z-index: 3;
  filter: drop-shadow(0 2px 20px rgba(0, 0, 0, 0.25)) drop-shadow(0 2px 10px rgba(0, 0, 0, 0.5));

  // margin-bottom: -5px; -12; -30px;
  // filter: drop-shadow(0 4px 25px rgba(0, 0, 0, 0.25)) drop-shadow(0 4px 12.5px rgba(0, 0, 0, 0.5));
}

.hero__title-lastname {
  position: relative;
  font-family: Bungee Shade;
  font-size: clamp(
    2.9rem,
    calc(2.9rem + (7rem - 2.9rem) * (100vw - 320px) / (1440px - 320px)),
    7rem
  );
  text-shadow: 2px 2px 25px rgba(0, 0, 0, 0.5);
  z-index: 3;

  // font-size: 2.25em;
  // padding-right: 16px;
  // font-size: 7rem;
  // text-shadow: 3px 3px 30px rgba(0, 0, 0, 0.5);
}

.hero__subtitle {
  position: relative;
  display: inline-flex;
  flex-direction: column;
  line-height: 1.2;
  font-size: 1rem;
  font-weight: 300;
  padding-right: 0.76rem;
  z-index: 3;
  text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);

  // font-size: 32px;
  // font-weight: 200;
  // padding-right: 40px;
  // text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
}

.hero__actions {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  margin-inline: auto;
  z-index: 3;

  // gap: 25px;
}

.hero__action-btn {
  font-size: 0.78rem;
  text-transform: uppercase;
  text-wrap: nowrap;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding: 0.98rem 2.4rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;

  // font-size: 19px;
  // border-radius: 10px; 12px;
  // padding: 15px 40px;
}

.hero__action-btn--primary {
  font-weight: 300;
  background: #6701be;
}

.hero__action-btn--secondary {
  color: #6701be;
  background: #ffffff;
}

.hero__image {
  position: absolute;
  width: 100%;
  z-index: 1;
  top: 1rem;

  // margin-left: -50px;
  // margin-right: 90px;

  & img {
    position: relative;
    height: 34.375rem;
    width: auto;
    margin-inline: auto;
  }

  // img {
  //   height: 725px;
  // }
}

// Title for screen readers only
// .sr-only {
//   position: absolute;
//   width: 1px;
//   height: 1px;
//   padding: 0;
//   margin: -1px;
//   overflow: hidden;
//   clip: rect(0, 0, 0, 0);
//   border: 0;
// }

// Moyens / Grands smartphones
@media (min-width: 480px) {
  .hero {
    position: relative; // Déjà set dans le css global
    padding-block: 9.2rem 4rem;
    overflow: hidden; //
  }

  .hero__content {
    display: flex; //
    flex-direction: column; //
    justify-content: flex-end; //
  }

  .hero__titles {
    display: flex; //
    flex-direction: column; //
    gap: 0.8rem; //
    padding-left: 4.5rem;
    margin-left: 0;
    margin-bottom: 6rem;
  }

  .hero__title-firstname {
    position: relative; //
    margin-bottom: 0.2rem;
    z-index: 3; //
    filter: drop-shadow(0 4px 25px rgba(0, 0, 0, 0.25)) drop-shadow(0 4px 12.5px rgba(0, 0, 0, 0.5));
  }

  .hero__title-lastname {
    position: relative; //
    z-index: 3; //
    text-shadow: 3px 3px 30px rgba(0, 0, 0, 0.5);
  }

  .hero__subtitle {
    position: relative; //
    display: inline-flex; //
    flex-direction: column; //
    font-size: 1.22rem;
    font-weight: 200;
    padding-right: 0.86rem;
    z-index: 3; //
    // text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);
  }

  .hero__actions {
    display: flex; //
    flex-direction: row;
    gap: 1.2rem; //
    margin-inline: auto; //
    z-index: 3; //
  }

  .hero__action-btn {
    font-size: 0.86rem;
    border-radius: 8px; //
    padding: 1rem 2rem; //
  }

  .hero__image {
    position: absolute; //
    z-index: 1; //
    top: 1.6rem;

    & img {
      height: 37.5rem;
      padding-right: 4rem;
      margin-right: 0;
    }
  }
}

// Tablettes
@media (min-width: 768px) {
  .hero {
    position: relative; // Déjà set dans le css global
    padding-block: 11.1rem 5rem;
    overflow: hidden; //
  }

  .hero__content {
    display: flex; //
    flex-direction: column; //
    justify-content: flex-end; //
  }

  .hero__titles {
    display: flex; //
    flex-direction: column; //
    gap: 1.3rem; //
    padding-inline: 0
      clamp(
        10.7rem,
        calc(10.7rem + (13.6rem - 10.7rem) * (100vw - 768px) / (1024px - 768px)),
        13.6rem
      );
    margin-inline: auto;
    margin-bottom: 8rem;
  }

  .hero__title-firstname {
    position: relative; //
    margin-bottom: 0.4rem;
    z-index: 1;
  }

  .hero__title-lastname {
    position: relative; //
    z-index: 3; //
  }

  .hero__subtitle {
    position: relative; //
    display: inline-flex; //
    flex-direction: column; //
    font-size: 1.4rem;
    padding-right: 0.86rem; //
    z-index: 3; //
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.6);

    // font-size: 1.625rem;
    // padding-right: 2.125rem;

    // FINAL -> font-size: 2.25rem;
  }

  .hero__actions {
    display: flex; //
    gap: 1.8rem;
    margin-inline: auto; //
    z-index: 3; //
  }

  .hero__action-btn {
    font-size: 0.96rem;
    border-radius: 10px;
    padding: 1.1rem 2.4rem;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2);

    // FINAL -> font-size: 1.25rem;
  }

  .hero__image {
    position: absolute; //
    z-index: 1; //
    top: 3rem;

    & img {
      height: 40.5rem; //
      padding-inline: clamp(
          28.2rem,
          calc(28.2rem + (30.9rem - 28.2rem) * (100vw - 768px) / (1024px - 768px)),
          30.9rem
        )
        0;
      margin-inline: auto;

      // FINAL -> height: 50.875rem;
    }
  }
}

// Laptops
@media (min-width: 1024px) {
  .hero {
    position: relative; // Déjà set dans le css global
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-block: 0;
  }

  .hero__content {
    display: flex; //
    flex-direction: column; //
    justify-content: flex-end; //
    align-items: flex-end;
    margin-right: clamp(
      -1.1rem,
      calc(-0.86rem + (-1.1rem - -0.86rem) * (100vw - 1024px) / (1440px - 1024px)),
      -0.86rem
    );
    margin-bottom: 5.2rem;
  }

  .hero__titles {
    display: flex; //
    flex-direction: column; //
    align-items: flex-end;
    gap: 1.3rem; //
    padding-right: 0;
    margin-bottom: 2rem; //
    margin-inline: 0;
  }

  .hero__title-firstname {
    position: relative; //
    margin-bottom: 0.6rem;
  }

  .hero__title-lastname {
    position: relative; //
  }

  .hero__subtitle {
    position: relative; //
    display: inline-flex; //
    flex-direction: column; //
    font-size: 1.6rem;
    padding-right: clamp(
      1.2rem,
      calc(1.2rem + (1.6rem - 1.2rem) * (100vw - 1024px) / (1440px - 1024px)),
      1.6rem
    );

    // FINAL -> font-size: 2.25rem;
  }

  .hero__actions {
    display: flex; //
    gap: 1.4rem;
    margin-inline: 0;
    padding-right: clamp(
      2.6rem,
      calc(2.6rem + (3.6rem - 2.6rem) * (100vw - 1024px) / (1440px - 1024px)),
      3.6rem
    );
  }

  .hero__action-btn {
    font-size: 1rem;
    border-radius: 10px; //
    padding: 1.2rem 2.4rem;

    // FINAL -> border-radius: 12px;
    // FINAL -> font-size: 1.25rem;
  }

  .hero__image {
    position: relative;
    top: auto;
    width: fit-content;
    margin-left: clamp(
      -1.1rem,
      calc(-0.88rem + (-1.1rem - -0.88rem) * (100vw - 1024px) / (1440px - 1024px)),
      -0.88rem
    );
    z-index: 1; //

    & img {
      height: 42rem;
      padding-inline: 0;
      margin-inline: 0;

      // FINAL -> height: 50.875rem;
    }
  }
}

// Grands écrans
@media (min-width: 1440px) {
  .hero {
    position: relative; // Déjà set dans le css global
    display: flex; //
    justify-content: center; //
    align-items: center; //
    height: 100vh; //
    padding-block: 0; //
  }

  .hero__content {
    display: flex; //
    flex-direction: column; //
    justify-content: flex-end; //
    align-items: flex-end; //
    margin-right: clamp(
      -1.1rem,
      calc(-0.86rem + (-1.1rem - -0.86rem) * (100vw - 1024px) / (1440px - 1024px)),
      -0.86rem
    ); //
    margin-bottom: 4.5rem;
  }

  .hero__titles {
    display: flex; //
    flex-direction: column; //
    align-items: flex-end; //
    gap: 1.8rem;
    padding-right: 0; //
    margin-bottom: 2.75rem; //
    margin-inline: 0; //
  }

  .hero__title-firstname {
    position: relative; //
    margin-bottom: 0.75rem;
  }

  .hero__title-lastname {
    position: relative; //
  }

  .hero__subtitle {
    position: relative; //
    display: inline-flex; //
    flex-direction: column; //
    font-size: 1.8rem;
    padding-right: clamp(
      1.2rem,
      calc(1.2rem + (1.6rem - 1.2rem) * (100vw - 1024px) / (1440px - 1024px)),
      1.6rem
    ); //
  }

  .hero__actions {
    display: flex; //
    gap: 1.6rem;
    margin-inline: 0; //
    padding-right: clamp(
      2.6rem,
      calc(2.6rem + (3.6rem - 2.6rem) * (100vw - 1024px) / (1440px - 1024px)),
      3.6rem
    ); //
  }

  .hero__action-btn {
    font-size: 1.1rem;
    border-radius: 12px;
    padding: 1.2rem 2.5rem;
  }

  .hero__image {
    position: relative; //
    top: auto; //
    width: fit-content; //
    margin-left: clamp(
      -1.1rem,
      calc(-0.88rem + (-1.1rem - -0.88rem) * (100vw - 1024px) / (1440px - 1024px)),
      -0.88rem
    ); //
    z-index: 1; //

    & img {
      height: 45rem;
      padding-inline: 0; //
      margin-inline: 0; //
    }
  }
}
