.header {
  display: flex;
  justify-content: center;
  color: #ffffff;
  background-color: #8800ff;
  padding-top: 1rem;
}

.header__client-button {
  font-size: 0.76rem;
  font-weight: 300;
  text-transform: uppercase;
  background-color: #6701be;
  padding: 0.86rem 2.2rem;
  border: 1px solid #ffffff;
  border-radius: 8px;
  cursor: pointer;

  // padding: 13px 35px; Grands écrans ?
}

// Grands smartphones
@media (min-width: 480px) {
  .header {
    gap: 25px;
  }

  .header__client-button {
    font-size: 13px;
  }
}

// Tablettes
@media (min-width: 768px) {
  .header {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 70px;
    margin-block: 2em 3em;
    gap: 0;
  }

  .header__client-button {
    font-size: 14px;
    order: 1;
  }
}

// Laptops
@media (min-width: 1024px) {
  .header {
    padding-top: 45px;
    justify-content: center;
    align-items: default;
    padding-inline: 0;
    margin-block: 0;
  }

  .header__client-button {
    font-size: 15px;
    border-radius: 8px;
    padding: 12px 30px;
    position: absolute;
    right: 40px;
    top: 25px;
  }
}

// Grands écrans
@media (min-width: 1440px) {
  .header {
    padding-top: 50px;
  }

  .header__client-button {
    font-size: 16px;
    border-radius: 10px;
    right: 50px;
    top: 35px;
  }
}
